{% extends 'base.html' %}
{% load static %}
{% block content %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Checkout Start -->
        <div class="checkout">
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-lg-8">
                        <div class="checkout-inner">
                            <div class="billing-address">
                                <h2>Billing Address</h2>
                                <form method="POST">
                                    {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>First Name</label>
                                        <input name="fname" class="form-control" type="text" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Last Name"</label>
                                        <input name="lname" class="form-control" type="text" placeholder="Last Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                        <input name="email" class="form-control" type="email" placeholder="E-mail">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mobile No</label>
                                        <input name="phonenumber" class="form-control" type="text" placeholder="Mobile No">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Address</label>
                                        <input name="address" class="form-control" type="text" placeholder="Address">
                                    </div>
                                </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout-inner">
                            <div class="checkout-summary">
                                <h1>Cart Total</h1>
                                {% for check in checkouts %}
                                {% if cart.items.discounted_price > 0 %}
                                <p>{{check.items.name}}<span>Rs. {{check.items.discounted_price}}</span></p>
                                {% else %}
                                <p>{{check.items.name}}<span>Rs. {{check.items.price}}</span></p>
                                {% endif %}
                                {% endfor %}
                                <p class="sub-total">Total<span>Rs. {{all_total}}</span></p>
                                <p class="ship-cost">Delivery Charge<span>Rs. 50</span></p>
                                <h2>Grand Total<span>Rs. {{grand_total}}</span></h2>
                            </div>

                            <div class="checkout-payment">
                                <div class="payment-methods">
                                    <h1>Payment Methods</h1>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                            <label class="custom-control-label" for="payment-4">fonePay</label>
                                        </div>
                                        <div class="payment-content" id="payment-4-show">
                                            <p>
                                              You have to use esewa for the online payment
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                                            <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
                                        </div>
                                        <div class="payment-content" id="payment-5-show">
                                            <p>
                                               Delivery charge is Rs 50
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout-btn">
                                    <button>Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkout End -->
        {% endblock %}
